<h3> -개인정보- </h3>


    ID:<%= member.ID %> <br>
    PWD:<%= member.PWD %> <br>
    NAME:<%= member.NAME %> <br>
          
    ADDR:<%= member.ADDR %> <br>

<hr>
    <a href="/member/member_modifyForm/<%=member.ID%>">수정</a>
    <a href="/member/member_delete/<%= member.ID %>" >삭제</a>
    <a href="/member/list">목록이동</a>
  
    <hr>
