<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr> <th>이름</th> <th>나이</th> <th>주소</th></tr>
        <tr><td><%=datas.arr[0]%></td><td><%=datas.arr[1]%></td><td><%=datas.arr[2]%></td></tr>
        <tr><td><%= datas.obj.name %></td>
            <td><%= datas.obj.age %></td>
            <td><%= datas.obj.addr %></td></tr>
            <tr>
                <td><%= datas.name %></td>
                <td><%= datas.age %></td>
                <td><%= datas.addr %></td>
            </tr>

    </table>


    <%= Object.keys( datas ) %><br>
    <%= Object.keys( datas.obj ) %><br>
    <%= Object.values( datas ) %><br>
  
    <h1>Keys of obj:</h1>
    <ul>
        <% for (let key in datas.obj) { %>
            <li><%= key %></li>
        <% } %>
    </ul>

</body>
</html>